<launch>

  <node pkg="allan_variance" type="allan_live.py" name="allan_variance_live" output="screen" required="false">
  	<param name="bagfile_path" value="/home/gavlab/devel/allan_ws/data/microstrain_static_6hr.bag"/>
  	<param name="imu_topic_name" value="/imu/imu"/>
  	<param name="axis" value="4"/>
  	<param name="sample_rate" value="100"/>
    <param name="delta_measurement" value="false"/>
  	<param name="number_of_lags" value="1000"/>
    <!-- <param name="results_directory_path" value="/path/to/results/directory"/> -->
  </node>

</launch>
